<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [2]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 181.2 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 194.8 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 tzdata-2025.1
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (101 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 184.2 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (323 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 145.8 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 64.4 MB/s eta 0:00:00
Downloading pillow-11.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 152.7 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [3]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here
print("Data Summary:")
df_info = df.info() 
missing_values = df.isnull().sum()
print("\nMissing Values by Column:")
print(missing_values)
summary = pd.DataFrame({
    'Data Type': df.dtypes,
    'Non-Null Count': df.notnull().sum(),
    'Missing Values': missing_values
})

print("\nSummary Data:")
print(summary)

Data Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

Missing Values by Column:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

Summary Data:
                    Data Type  Non-Null Count  Missing Values
ResponseId              int64           65437               0
MainBranch             object           65437               0
Age                    object           65437               0
Employment             object           65437               0
RemoteWork             object           54806           10631
...                       ...             ...             ...
JobSatPoints_11       float64           29445           35992
SurveyLength           object           56182            9255
SurveyEase             object           56238            9199
ConvertedCompYearly   float64           23435           42002
JobSat                float64           29126           36311

[114 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here
numerical_stats = df.describe()
print("Basic Statistics for Numerical Columns:")
print(numerical_stats)

Basic Statistics for Numerical Columns:
         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [6]:
# Write your code here
country_unique_values = df['Country'].unique()

# Display unique values to inspect for inconsistencies
print("Unique values in 'Country' column:")
print(country_unique_values)
missing_country_values = df['Country'].isnull().sum()
print(f"\nNumber of missing values in 'Country' column: {missing_country_values}")

df['Country_cleaned'] = df['Country'].str.strip().str.lower()
unusual_countries = df['Country_cleaned'].value_counts()

# Display the counts of cleaned 'Country' entries
print("\nCounts of cleaned country values:")
print(unusual_countries)

Unique values in 'Country' column:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Number of missing values in 'Country' column: 6507

Counts of cleaned country values:
Country_cleaned
united states of america                                11095
germany                                                  4947
india                                                    4231
united kingdom of great britain and northern ireland     3224
ukraine                                                  2672
                                                        ...
micronesia, federated states of...                          1
nauru                                                       1
chad                                                        1
djibouti                                                    1
solomon islands                                             1
Name: count, Length: 185, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [7]:

print("Unique values in 'Country' column before standardizing:")
print(df['Country'].unique())
country_mapping = {
    'united states': 'United States',
    'us': 'United States',
    'usa': 'United States',
    'united kingdom': 'United Kingdom',
    'uk': 'United Kingdom',
    'canada ': 'Canada',  
    'india': 'India',
    'germany': 'Germany'
   
}

df['Country'] = df['Country'].str.strip().str.lower()  # Clean extra spaces and lowercase
df['Country'] = df['Country'].replace(country_mapping)
print("\nUnique values in 'Country' column after standardizing:")
print(df['Country'].unique())
print("\nUnique values in 'EdLevel' column before standardizing:")
print(df['EdLevel'].unique())

# Define a dictionary to map inconsistent education level entries to a standard format
edlevel_mapping = {
    'school': 'Primary/elementary school',
    'bachelor': 'Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)',
    'bachelors': 'Bachelor\'s Degree',
    'master': 'Master\'s Degree',
    'msc': 'Master\'s Degree',
    'phd': 'PhD',
    'doctorate': 'PhD',
    'associate': 'Associate Degree',
    'some college': 'Some College'
    
}

# Apply the mapping to the 'EdLevel' column
df['EdLevel'] = df['EdLevel'].str.strip().str.lower()  # Clean extra spaces and lowercase
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Check unique values in 'EdLevel' after standardizing
print("\nUnique values in 'EdLevel' column after standardizing:")
print(df['EdLevel'].unique())

Unique values in 'Country' column before standardizing:
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Unique values in 'Country' column after standardizing:
['united states of america'
 'united kingdom of great britain and northern ireland' 'canada' 'norway'
 'uzbekistan' 'serbia' 'poland' 'philippines' 'bulgaria' 'switzerland'
 'India' 'Germany' 'ireland' 'italy' 'ukraine' 'australia' 'brazil'
 'japan' 'austria' 'iran, islamic republic of...' 'france' 'saudi arabia'
 'romania' 'turkey' 'nepal' 'algeria' 'sweden' 'netherlands' 'croatia'
 'pakistan' 'czech republic' 'republic of north macedonia' 'finland'
 'slovakia' 'russian federation' 'greece' 'israel' 'belgium' 'mexico'
 'united republic of tanzania' 'hungary' 'argentina' 'portugal'
 'sri lanka' 'latvia' 'china' 'singapore' 'lebanon' 'spain' 'south africa'
 'lithuania' 'viet nam' 'dominican republic' 'indonesia' 'kosovo'
 'morocco' 'taiwan' 'georgia' 'san marino' 'tunisia' 'bangladesh'
 'nigeria' 'liechtenstein' 'denmark' 'ecuador' 'malaysia' 'albania'
 'azerbaijan' 'chile' 'ghana' 'peru' 'bolivia' 'egypt' 'luxembourg'
 'montenegro' 'cyprus' 'paraguay' 'kazakhstan' 'slovenia' 'jordan'
 'venezuela, bolivarian republic of...' 'costa rica' 'jamaica' 'thailand'
 'nicaragua' 'myanmar' 'republic of korea' 'rwanda'
 'bosnia and herzegovina' 'benin' 'el salvador' 'zimbabwe' 'afghanistan'
 'estonia' 'malta' 'uruguay' 'belarus' 'colombia' 'republic of moldova'
 'isle of man' 'nomadic' 'new zealand' 'palestine' 'armenia'
 'united arab emirates' 'maldives' 'ethiopia' 'fiji' 'guatemala' 'uganda'
 'turkmenistan' 'mauritius' 'kenya' 'cuba' 'gabon' 'bahamas' 'south korea'
 'iceland' 'honduras' 'hong kong (s.a.r.)'
 "lao people's democratic republic" 'mongolia' 'cambodia' 'madagascar'
 'angola' 'democratic republic of the congo' 'syrian arab republic' 'iraq'
 'namibia' 'senegal' 'kyrgyzstan' 'zambia' 'swaziland' "côte d'ivoire"
 'kuwait' 'tajikistan' 'burundi' 'trinidad and tobago' 'mauritania'
 'sierra leone' 'panama' 'somalia' 'north korea' 'dominica' 'guyana'
 'togo' 'oman' 'barbados' 'andorra'
 "democratic people's republic of korea" 'qatar' 'sudan' 'cameroon'
 'papua new guinea' 'bahrain' 'yemen' 'malawi' 'burkina faso'
 'congo, republic of the...' 'botswana' 'guinea-bissau' 'mozambique'
 'central african republic' 'equatorial guinea' 'suriname' 'belize'
 'libyan arab jamahiriya' 'cape verde' 'brunei darussalam' 'bhutan'
 'guinea' 'niger' 'antigua and barbuda' 'mali' 'samoa' 'lesotho'
 'saint kitts and nevis' 'monaco' 'micronesia, federated states of...'
 'haiti' nan 'nauru' 'liberia' 'chad' 'djibouti' 'solomon islands']

Unique values in 'EdLevel' column before standardizing:
['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

Unique values in 'EdLevel' column after standardizing:
['primary/elementary school'
 'bachelor’s degree (b.a., b.s., b.eng., etc.)'
 'master’s degree (m.a., m.s., m.eng., mba, etc.)'
 'some college/university study without earning a degree'
 'secondary school (e.g. american high school, german realschule or gymnasium, etc.)'
 'professional degree (jd, md, ph.d, ed.d, etc.)'
 'associate degree (a.a., a.s., etc.)' 'something else' nan]

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [8]:
## Write your code here
df_encoded = pd.get_dummies(df, columns=['Employment'], prefix='Employment')

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [9]:
## Write your code here
missing_values = df.isnull().sum()

# Sort the columns by the number of missing values in descending order
missing_values_sorted = missing_values.sort_values(ascending=False)

# Display columns with the highest number of missing values
print(missing_values_sorted)

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
Age                               0
Check                             0
MainBranch                        0
Employment                        0
ResponseId                        0
Length: 115, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [12]:
## Write your code here
numerical_columns = df.select_dtypes(include=['number']).columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].median())

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [13]:
## Write your code here
df[df.select_dtypes(include=['object', 'category']).columns] = df.select_dtypes(include=['object', 'category']).apply(lambda x: x.fillna(x.mode()[0]))

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [15]:
## Write your code here
!pip install scikit-learn
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler instance
scaler = MinMaxScaler()

# Apply Min-Max Scaling to the 'ConvertedCompYearly' column
df['ConvertedCompYearly'] = scaler.fit_transform(df[['ConvertedCompYearly']])

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (2.2.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 152.4 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.2/40.2 MB 173.8 MB/s eta 0:00:0000:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [20]:
## Write your code here
import numpy as np
print(df[df['ConvertedCompYearly'] <= 0])
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].apply(lambda x: np.nan if x <= 0 else x)

# Apply the natural log transformation to the column, now with NaN for invalid values
df['ConvertedCompYearly'] = np.log(df['ConvertedCompYearly'])
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].apply(lambda x: 1 if x <= 0 else x)

# Apply the natural log transformation
df['ConvertedCompYearly'] = np.log(df['ConvertedCompYearly'])

       ResponseId                      MainBranch              Age  \
12723       12724  I am a developer by profession  25-34 years old
15837       15838  I am a developer by profession  25-34 years old
17593       17594  I am a developer by profession  35-44 years old
28379       28380  I am a developer by profession  18-24 years old

                                              Employment  \
12723  Employed, full-time;Independent contractor, fr...
15837  Independent contractor, freelancer, or self-em...
17593                                Employed, full-time
28379                                Employed, full-time

                                 RemoteWork   Check  \
12723  Hybrid (some remote, some in-person)  Apples
15837                             In-person  Apples
17593                                Remote  Apples
28379  Hybrid (some remote, some in-person)  Apples

                                        CodingActivities  \
12723  Contribute to open-source projects;Professiona...
15837  Hobby;Contribute to open-source projects;Boots...
17593  Hobby;Professional development or self-paced l...
28379                 Contribute to open-source projects

                                              EdLevel  \
12723  professional degree (jd, md, ph.d, ed.d, etc.)
15837    bachelor’s degree (b.a., b.s., b.eng., etc.)
17593    bachelor’s degree (b.a., b.s., b.eng., etc.)
28379  professional degree (jd, md, ph.d, ed.d, etc.)

                                               LearnCode  \
12723  Books / Physical media;On the job training;Oth...
15837  Books / Physical media;Colleague;On the job tr...
17593  Books / Physical media;On the job training;Oth...
28379  Books / Physical media;On the job training;Oth...

                                         LearnCodeOnline  ... JobSatPoints_7  \
12723  Blogs;Stack Overflow;Coding sessions (live or ...  ...      100.00000
15837  Technical documentation;Blogs;Books;Written Tu...  ...       22.96522
17593  Technical documentation;Books;Written Tutorial...  ...       40.00000
28379  Technical documentation;Blogs;Books;Written Tu...  ...      100.00000

      JobSatPoints_8 JobSatPoints_9 JobSatPoints_10 JobSatPoints_11  \
12723     100.000000     100.000000      100.000000      100.000000
15837      20.278165      16.169432       10.955713        9.953948
17593      30.000000      40.000000       30.000000       70.000000
28379     100.000000     100.000000      100.000000      100.000000

                SurveyLength                  SurveyEase ConvertedCompYearly  \
12723  Appropriate in length  Neither easy nor difficult           -0.177364
15837  Appropriate in length                        Easy            0.000000
17593  Appropriate in length                        Easy           -2.839268
28379  Appropriate in length  Neither easy nor difficult           -0.894712

          JobSat Country_cleaned
12723  10.000000    south africa
15837   6.935041        ethiopia
17593   6.000000          brazil
28379  10.000000          taiwan

[4 rows x 115 columns]

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [23]:
## Write your code here
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Now, create the 'ExperienceLevel' column based on 'YearsCodePro'
conditions = [
    (df['YearsCodePro'] <= 2),  # Entry-level (0-2 years)
    (df['YearsCodePro'] >= 3) & (df['YearsCodePro'] <= 5),  # Junior (3-5 years)
    (df['YearsCodePro'] >= 6) & (df['YearsCodePro'] <= 10),  # Mid-level (6-10 years)
    (df['YearsCodePro'] >= 11)  # Senior (11+ years)
]

experience_levels = ['Entry-level', 'Junior', 'Mid-level', 'Senior']

# Use numpy's select function to create the 'ExperienceLevel' column
import numpy as np
df['ExperienceLevel'] = np.select(conditions, experience_levels, default='Unknown')

# Optionally, if you encounter fragmentation, you can create a new dataframe to de-fragment it
df = df.copy()

# Check the results
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat,Country_cleaned,ExperienceLevel
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,primary/elementary school,Books / Physical media,Technical documentation;Blogs;Written Tutorial...,...,20.278165,16.169432,10.955713,9.953948,Appropriate in length,Easy,NaN,6.935041,united states of america,Entry-level
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"bachelor’s degree (b.a., b.s., b.eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.000000,0.000000,0.000000,0.000000,Appropriate in length,Easy,NaN,6.935041,united kingdom of great britain and northern i...,Senior
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"master’s degree (m.a., m.s., m.eng., mba, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,20.278165,16.169432,10.955713,9.953948,Appropriate in length,Easy,NaN,6.935041,united kingdom of great britain and northern i...,Senior
3,4,I am learning to code,18-24 years old,"Student, full-time","Hybrid (some remote, some in-person)",Apples,Hobby,some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,20.278165,16.169432,10.955713,9.953948,Too long,Easy,NaN,6.935041,canada,Entry-level
4,5,I am a developer by profession,18-24 years old,"Student, full-time","Hybrid (some remote, some in-person)",Apples,Hobby,"secondary school (e.g. american high school, g...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,20.278165,16.169432,10.955713,9.953948,Too short,Easy,NaN,6.935041,norway,Entry-level

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.